@tailwind base;
@tailwind components;
@tailwind utilities;


img.qr-code {
    filter: brightness(0)
}

#app, #route-base, html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100dvh;
    max-height: 100dvh;

}

#route-base {
    display: flex;
    flex-direction: column;
}
